@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Old+Standard+TT&display=swap");

@media screen and (min-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    background-color: var(--main-color);
  }

  *,
  *::before,
  ::after {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: var(--header-color);
    font-size: larger;
  }

  p::first-letter {
    font-size: 150%;
  }

  :root {
    --header-color: #3cb371;
    --main-color: white;
    --footer-color: #3cb371;
    --cards-color: #8fbc8f;
    --mainHeader-color: #4169e1;
    --card-font-color: whitesmoke;
    --card-font-color-two: #2f4f4f;
    --menuBtn-color: #2e8b57;
    --font-one: "Indie Flower", cursive;
    --font-two: "Old Standard TT", serif;
  }

  #grid_mainContainer {
    display: grid;
    grid-template-areas:
      "h h h h h"
      "s m m m m"
      "s m m m m"
      "f f f f f";
    position: relative;
  }

  #grid_header {
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 7vh;
    width: 100vw;
    border-bottom: 0.1px solid whitesmoke;
  }

  #listForBtnClickBigScreen {
    grid-area: s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    text-align: center;
  }

  #listForBtnClickBigScreen > div {
    font-size: x-large;
    padding: 3%;
  }

  #header_area_one {
    display: none;
  }
  #header_area_two {
    width: 5rem;
  }
  #header_area_three {
    display: none;
  }
  #headerText {
    font-family: var(--font-two);
    font-size: 1.8rem;
  }

  #listForBtnClick {
    grid-area: m;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    background-color: var(--menuBtn-color);
    overflow: scroll;
    animation: menuList 1s;
    height: 110vh;
    gap: 1%;
    position: absolute;
    top: 0;
  }

  @keyframes menuList {
    from {
      top: -100%;
    }
    to {
      bottom: 0%;
    }
  }

  #listForBtnClick_header {
    display: flex;
    width: 100vw;
    justify-content: center;
    font-size: 3rem;
    background-color: whitesmoke;
    color: var(--header-color);
    flex: 1;
  }

  .btnList {
    font-size: 2rem;
    padding: 1%;
    flex: 2;
  }
  #listForBtnClick_footer_header {
    color: var(--header-color);
  }

  #listForBtnClick_footer > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    width: 100vw;
  }

  #grid_main {
    /* height: 100vh; */
    grid-area: m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("../IMAGES/background-image/phone-menu-gif.gif");
    background-repeat: repeat-y;
    background-position: center;
  }

  #grid_main_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    overflow: scroll;
    position: relative;
  }

  #gridMain_containerHeader {
    color: var(--cards-color);
    font-family: var(--font-two);
    font-size: 20vw;
    font-weight: bolder;
  }
  #gridMain_containerHeaderTwo {
    color: var(--mainHeader-color);
    font-family: var(--font-one);
    font-size: 5vw;
  }

  @keyframes iconRotated {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .loading_page {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    opacity: 0.7;
    position: absolute;
    top: 0;
  }

  .loading_page > img {
    margin-top: 100%;
  }

  .card_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 100%;
    background-color: var(--cards-color);
    box-shadow: 5px 10px 15px 5px rgb(199, 184, 184);
  }

  #card_pic {
    border: 0.5px solid black;
  }

  .card_text {
    background-color: var(--cards-color);
    box-shadow: 10px 5px 20px 1px rgb(199, 184, 184);
    border: 1px solid rgb(184, 177, 177);
  }

  .cardsKeys {
    color: var(--card-font-color-two);
    font-weight: bold;
    font-size: 7vw;
  }

  .cardsValues {
    font-family: var(--font-two);
    color: var(--card-font-color);
    font-size: 6vw;
    text-decoration: none;
  }

  .card_button {
    width: 50%;
    height: 50%;
    font-size: xx-large;
    color: var(--cards-color);
    margin-bottom: 10%;
  }

  #center_mainGrid {
    grid-area: m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    height: inherit;
  }
  #center_mainGridTwo {
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 2px 2px 2px var(--card-font-color-two);
    font-family: var(--font-two);
    color: white;
    padding: 0.5%;
    margin-top: 15%;
  }
  #boldHeader {
    font-size: 4rem;
    font-weight: bolder;
    color: var(--cards-color);
  }

  #pText {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--font-one);
    text-shadow: 2px 1px black;
    padding:5%;
  }

  #indexBtn {
    border-radius: 50%;
    background-color: var(--header-color);
    border: 0.1px solid white;
    animation: iconRotated 2s infinite;
    opacity: 0.9;
  }

  #indexBtn:hover {
box-shadow: 1px 2px 22px black;
 
  }

  #sideBar {
    grid-area: s;
    display: flex;
    align-items: center;
    width: 25vw;
    background-color: var(--menuBtn-color);
    border-right: 0.1px solid whitesmoke;
    opacity: 0.9;
  }

  .sidbarLogs {
    width: 1.5rem;
    display: flex;
  }

  .hrSidebar {
    width: 15vw;
    border: 0.1px dashed whitesmoke;
    opacity: 0.2;
  }

  .imgHover:hover {
    width: 7vw;
  }

  #grid_footer {
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--footer-color);
    height: 10vh;
    position: relative;
  }
}
