@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Old+Standard+TT&display=swap");

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }

  *,
  *::before,
  ::after {
    box-sizing: border-box;
  }

  ::-webkit-input-placeholder {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
  }

    #header_area_two {
    width: 5rem;
  }
  #headerText {
    display: none;
  }
    #sideBar {
    display: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
  p::first-letter {
    font-size: 150%;
  }

  :root {
    --header-color: #3cb371;
    --main-color: white;
    --footer-color: #3cb371;
    --cards-color: #8fbc8f;
    --mainHeader-color: #4169e1;
    --card-font-color: whitesmoke;
    --card-font-color-two: #2f4f4f;
    --menuBtn-color: #2e8b57;
    --font-one: "Indie Flower", cursive;
    --font-two: "Old Standard TT", serif;
  }

  #grid_mainContainer {
    display: grid;
    grid-template-areas:
      "h h h h"
      "m m m m"
      "m m m m"
      "f f f f";
    position: relative;
  }

  #grid_header {
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-color);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 13vh;
    width: 100vw;
  }

  #listForBtnClick {
    height: 100vh;
    grid-area: m;
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 5;
    background-color: var(--menuBtn-color);
    overflow: scroll;
    animation: menuList 1s;
  }

  @keyframes menuList {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }

#listForBtnClick {
    grid-area: m;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    background-color: var(--menuBtn-color);
    overflow: scroll;
    animation: menuList 1s;
    height: 110vh;
    gap: 1%;
    position: absolute;
    top: 0;
  }

  @keyframes menuList {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }

  #listForBtnClick_header {
    display: flex;
    width: 100vw;
    justify-content: center;
    font-size: 3rem;
    background-color: whitesmoke;
    color: var(--header-color);
    flex: 1;
  }

  .btnList {
    font-size: 2rem;
    padding: 1%;
    flex: 2;
  }
  #listForBtnClick_footer_header {
    color: var(--header-color);
  }

  #listForBtnClick_footer > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    width: 100vw;
  }

  #grid_main {
    height: 100vh;
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--main-color);
    overflow: scroll;
  }

  #headerUser {
    color: var(--cards-color);
    font-size: 20vw;
    font-family: var(--font-Two);
  }
  #headerUserTwo {
    color: var(--mainHeader-color);
    font-size: 5vw;
    font-family: var(--font-one);
  }

  .userContainer {
    border: 0.5px solid black;
    /* background-color: var(--cards-color); */
    box-shadow: 5px 10px 15px 5px rgb(199, 184, 184);
    width: 85vw;
    padding: 5%;
  }

  .userRows > * {
    color: black;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: larger;
  }

  .userBtn {
    color: var(--menuBtn-color);
    width: 50vw;
    font-size: xx-large;
  }

  .loading_page {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    opacity: 0.7;
    position: absolute;
    top: 0;
  }

  .loading_page > img {
    margin-top: 100%;
  }

  #addUserForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    height: 7vh;
    width: 60vw;
    border: 1px solid black;
    box-shadow: 5px 5px 22px 5px rgb(219, 218, 218);
  }
  #addUserBtn {
    color: var(--menuBtn-color);
    width: 50vw;
    font-size: xx-large;
  }
  #grid_footer {
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--footer-color);
    height: 10vh;
    position: relative;
  }
}
