@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    background-image: url("../IMAGES/background-image/phone-menu-gif.gif");
    background-position: center;
    background-size: 250%;
  }

  *,
  *::before,
  ::after {
    box-sizing: border-box;
  }
  p::first-letter {
    font-size: 150%;
  }
  :root {
    --header-color: #3cb371;
    --main-color: #fffaf0;
    --footer-color: #3cb371;
  }

  #grid_mainContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5% auto auto 5%;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "m m m m m m m m m m m m"
      "m m m m m m m m m m m m"
      "f f f f f f f f f f f f";
    position: relative;
  }

  #grid_header {
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-color);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 10vh;
  }

  #header_area_one {
    order: 1;
  }

  #header_area_two {
    order: 2;
  }
  #header_area_three {
    order: 3;
  }

  #listForBtnClick {
    grid-area: m;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    position: fixed;
    top: 10%;
    z-index: 5;
    background-color: var(--header-color);
    border: 0.5px solid rgb(133, 127, 127);
    width: 60%;
    height: 50%;
    overflow: scroll;
    animation: menuList 1s;
  }

  @keyframes menuList {
    from {
      left: -20%;
    }
    to {
      left: 0%;
    }
  }

  #listForBtnClick > div {
    border: 0.5px dashed rgb(158, 151, 151);
    padding: 3%;
  }

  #grid_main {
    grid-area: m;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-image: url("../IMAGES/background-image/phone-menu-gif.gif");
    background-repeat: no-repeat;
    background-position: center;
  }

  #center_mainGrid {
    grid-area: m;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  #center_mainGrid > h1 {
    font-size: 300%;
    text-shadow: 4px 4px 4px black;
    font-family: "Josefin Sans", sans-serif;
    color: var(--main-color);
    margin-bottom: -5%;
  }
  #boldHeader {
    font-size: 120%;
  }

  #pText {
    color: white;
    font-size: 130%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-shadow: 2px 1px black;
  }
  #center_mainGrid_icon {
    animation: iconRotated 3s infinite;
  }
  @keyframes iconRotated {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
#grid_sideBar {
  display: none;
}

#grid_footer {
  grid-area: f;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--footer-color);
  height: 10vh;
}
