@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Old+Standard+TT&display=swap");

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }

  *,
  *::before,
  ::after {
    box-sizing: border-box;
  }

  ::-webkit-input-placeholder {
    text-align: center;
    font-weight: bolder;
    font-size: smaller;
  }

  a {
    text-decoration: none;
  }
  p::first-letter {
    font-size: 150%;
  }

  :root {
    --header-color: #3cb371;
    --main-color: white;
    --footer-color: #3cb371;
    --cards-color: #8fbc8f;
    --mainHeader-color: #4169e1;
    --card-font-color: whitesmoke;
    --card-font-color-two: #2f4f4f;
    --menuBtn-color: #2e8b57;
    --font-one: "Indie Flower", cursive;
    --font-two: "Old Standard TT", serif;
  }

  #grid_mainContainer {
    display: grid;
    grid-template-areas:
      "h h h h"
      "m m m m"
      "m m m m"
      "f f f f";
    position: relative;
  }

  #grid_header {
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-color);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 13vh;
    width: 100vw;
  }

  #listForBtnClick {
    height: 100vh;
    grid-area: m;
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 5;
    background-color: var(--menuBtn-color);
    overflow: scroll;
    animation: menuList 1s;
  }

  @keyframes menuList {
    from {
      left: -100%;
    }
    to {
      left: 0%;
    }
  }

  #listForBtnClick_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: sticky;
    bottom: 100%;
    background-color: whitesmoke;
    color: var(--header-color);
  }

  .btnList>a {
    font-size: 2.5rem;
    padding: 3%;
    color: white;

  }
  #listForBtnClick_footer_header {
    color: var(--header-color);
  }

  #listForBtnClick_footer > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    bottom: 0;
  }

  #grid_main {
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--main-color);
    overflow: scroll;
  }

  #cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    width: 22rem;
    height: 33rem;
    box-shadow: 5px 5px 22px 5px rgb(219, 218, 218);
    border: 0.5px solid black;
    overflow: hidden;
  }

  #cardBg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-color);
    width: inherit;
    height: 8rem;
    position: relative;
  }


  #cardPic {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    padding: 10%;
  }

  #cardPic > img {
    width: 8rem;
    height: 8rem;
    border: 5px solid var(--main-color);
    border-radius: 50%;
  }

  #cardText {
    height: inherit;
    padding: 5%;
    font-family: var(--font-two);
    font-size:x-large;
  }

  #headerAboutUs {
    color: var(--mainHeader-color);
    font-size: 10vw;
    font-family: var(--font-one);
  }

  #pText {
    color: var(--card-font-color-two);
    font-size: xx-large;
    font-family: var(--font-one);
    padding: 2%;
  }

  #contactUsForm {
    display: flex;
    flex-direction: column;
  }

  #grid_footer {
    grid-area: f;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--footer-color);
    height: 10vh;
    position: relative;
  }
}
